Dear $username.

Welcome to world of Brezyn and thanks for your registering. Before starting your journey, 
please verify your email address by clicking the link below. 

$link

See you soon and hope you enjoy it !


Sincerely,

Admin Brezyn