Dear $username.

We've received a request to reset your password. If you didn't make the request, just ignore this email. 
Otherwise, you can reset your password using this link below.

$link


Sincerely,

Admin Brezyn